/*Reset de estilos*/
* {
    font-family: "Roboto" , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variáveis*/

:root {

    --main-color: #54b689;
    --main-text-color: #fff;
    --border-color:#999;
    --bio-bg-color:#1E2A3A;
    --bio-border-color: #293544;
    --about-bg-color:#111821;
}

/*Estilos Gerais*/

.highlight{
    color: var(--main-color);
}

/*Containers*/

#container {
   
    display: flex;
    flex-direction: row;
    color: var(--main-text-color)
}

#bio-container{
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 1.87rem 0.75rem;
    border-right: 0.32rem solid var(--bio-border-color);
    
}

#about-container {
    flex: 1 1 80%;
    min-height: 100vh;
    background-color: var(--about-bg-color);
    padding: 3.12rem;
}

/*Bio container*/
#welcome-text{
font-weight: bold;

}
#bio-image{

    width: 10.93rem;
    height: 10.93rem;
    border-radius: 50%;
    margin-bottom: 1.56rem;
}

#bio-container h2 {

    margin-bottom: 1.56rem;
}

#bio-container p {

    margin-bottom: 1.25rem ;
} 

#social-container{

    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 0.06rem solid var(--border-color);
    margin-bottom: 1.56rem;
    padding-bottom: 1.56rem;
}

#social-container li{
    flex: 1 1 0;
    max-width: 3.75rem;
    
}

#social-container li a{

    color: var(--main-color);
    font-size: 1.87rem;
    
}

#email-container {

    display: flex;
    justify-content: center;

}

#email-container ion-icon,
#email-container a {
    flex: 1 1 0;
}

#email-container a{

    color: var(--main-text-color);
    text-decoration: none;
    max-width: 14rem;
}
#email-container ion-icon{

    color: var(--main-color);
    font-size: 1.25rem;
    margin-right:1,25rem;
    max-width: 1,25rem;

}
/*about container*/

#name{
    font-size: 2.62rem;
    margin-bottom: 1rem;
}

#title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.description{
    max-width: 75%;
    margin-bottom:0.62rem ;
}

#btn-projects{
    font-weight: bold;
    font-size: 1rem;
    color: var(--main-text-color);
    background-color: var(--main-color);
    border: 0.06rem solid var(--main-color);
    border-radius: 0.31rem;
    text-decoration: none;
    transition: .5s;
    margin: 1.5rem 0;
    padding: 0.75rem 0.62rem;
    width: 9.37rem;
    text-align: center;
    display: flex;
}

#btn-projects ion-icon,
#btn-projects span{
    flex: 1 1 0;

}
#btn-projects ion-icon{

    font-size: 1.25rem;
    max-width: 1.25rem;
}

#btn-projects:hover{

    background-color: transparent;
}

/*Areá das Skills*/

#skills-section-title{
    border-top: 0.06rem solid var(--border-color);
    padding-top: 1.25px;
    margin-bottom: 1.25px;
    font-size: 2rem;

}

#skills-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.56rem;
}

#skills-box{
    flex: 1 1 33%;
    max-width: 33%;
    margin-bottom: 2.18rem;
 
}
 .skills-title{
    font-size: 1.5rem;
    font-weight: bold;
    border-left: .31rem solid var(--main-color);
    padding-left: 0.62rem;
    margin-bottom: 1.56rem;
 }
 
 #skills-box i {

    font-size: 2.5rem;
    margin-right: 0.62rem;
 }